# Data Science Tools asnd Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [34]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Create tables using Markdown in Jupyter Notebooks  
- Perform basic arithmetic operations using Python code  
- Convert minutes to hours using Python

## Author
Jayan Mapa